.slick-next:before {
    content: '\f285';
}
.slick-prev::before {
    content: "\f284";
}
.slick-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: solid 1px #FF2759;
    text-align: center;
    line-height: 50px;
    color: #2A2A2A;
    font-size: 18px;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slick-bg{
    box-shadow: 20px 20px 50px white;
}

.slick-prev:before, .slick-next:before {
    color: #FF2759;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -21px;
    left: -6px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #FF2759;
    color: #fff;
}
.slick-prev:hover:before, .slick-next:hover:before {
    color: #fff;
}

.slick-prev {
    left: 3px;
}
.slick-next {
    right: 5px;
}