
:root {
  --overlay-loader: 0 0 0;
}
:root {
  --loader-bg: rgb(var(--overlay-loader));
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline; /* or the default value 'inline-block', depending on your requirements */
  vertical-align: baseline; /* or the default value 'baseline', depending on your requirements */
}

/* .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: start !important;
} */


/* .slick-dots li button:before {
  font-family: 'slick';
  font-size: 13px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #3578fa !important;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  color: #3578fa !important;;
} */


.feedback_slider_three .slick-dots {
  position: absolute;
  left: -135px;
  bottom: -20% !important;
  padding: 0;
  margin-bottom: 0;
}

/* For screen width 1300px and above */
@media screen and (min-width: 1400px) {
  .adjustWidth {
    width: 432px; 
  }
}

/* For screen width 1024px to 1299px */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .adjustWidth {
    width: 372px; /* Adjust the width as per your requirement */
  }
}

/* For screen width 800px to 1023px */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .adjustWidth {
    width: 312px; /* Adjust the width as per your requirement */
  }
}

/* For screen width 480px to 799px */
@media screen and (min-width: 780px) and (max-width: 1000px) {
  .adjustWidth {
    width: 315px; /* Adjust the width as per your requirement */
  }
}

/* For screen width 480px to 799px */
@media screen and (min-width: 780px) {
  .adjustWidth {
    width: 315px; /* Adjust the width as per your requirement */
  }
}

.marginTop {
  margin-top: 0px;
}

@media screen and (max-width: 990px) {
  .marginTop {
    margin-top: 100px;
  }
}


.PhoneInputInput{
  border: none;
}
.PhoneInputInput:focus {
  border: none !important;
  outline: none !important;
  --tw-ring-shadow : none
}


/* Alert Edit */

.Toastify__toast-container {
  z-index: 10000 !important;
}
.Toastify__toast-body {
  padding: 0% !important;
}
.Toastify__progress-bar-theme--light  {
  background: #FF2759 !important;
}
.Toastify__toast {
  color: #ffffff !important;
  background-color: #FF2759 !important;
  width: auto !important;
  height: auto !important;
  padding: 9.07px 39.73px 8.93px 32.27px !important;
  border-radius: 8px!important;
}
.Toastify__close-button--light {
  display: none !important;
}
.Toastify__toast-body div{
  text-transform: capitalize;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 24.2px !important;
  letter-spacing: 0.02em !important;
  text-align: left !important;
}

@media only screen and (max-width: 480px){
  .Toastify__toast {
    margin-top: 1.5rem !important;
    width: 80% !important;
    justify-content: center !important;
  }
  .Toastify__toast-container {
    display: flex !important;
    justify-content: center !important;
  }
  .Toastify__toast-body div {
    font-size: 15px !important;
    font-weight: 600 !important;
  }
  .Toastify__toast {
    min-height: 40px !important;
  }
}


.privacy-policy-list{
  grid-row-gap: 15px;
  background-color: #7987a1;
  color: #FF2759;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
}
.privacy-policy-list li{
  letter-spacing: -.05em;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}